/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
.a{
	height:200px;
	width:800px;
	object-fit:cover;
}
.b{
	
	text-align:center;
	font-size:10px;
	padding:40px 40px;
	
}
button{
	font-size:8px;
	background-color:red;
	color:white;
	border:none;
	padding:5px;
	border-radius:5px;
}